.root {
  -fx-font-family: "sans-serif";
  -fx-border-image-source: url("dukelogo.png");
  -fx-border-image-insets: 10px;
  -fx-border-image-width: 20px;
  -fx-background: white;
}

#Info {
  -fx-font-size: 20px;
  -fx-text-fill: blue;
}

#ControlPanel {
  -fx-padding: 10 0 20 0;
  -fx-spacing: 15;
}

#topBox {
  -fx-alignment: top-center;
  -fx-spacing: 35;
}

#bottomBox {
  -fx-alignment: center;
  -fx-spacing: 5;
}

.button {
  -fx-border-radius: 20;
  -fx-padding: 5 15 5 15;
  -fx-background-color: blue;
  -fx-text-fill: white;
}

.combo-box-base {
  -fx-text-base-color: white;
  -fx-background-color: blue;
}


#Speed {
  -fx-padding: 0 0 0 10;
}

.slider {
  -fx-show-tick-marks: true;
  -fx-show-tick-labels: true;
  -fx-snap-to-ticks: true;
  -fx-block-increment: 1;
  -fx-major-tick-unit: 1;
  -fx-tick-label-fill: blue;
}